@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .CONTAINER {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 1024px) {
  .CONTAINER {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.CONTAINER {
  padding: 10px;
}